@import "settings";
@import "foundation.scss";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

html {
  font-size: 7px;
}

@media #{$medium-up} {
  html {
    font-size: 12px;
  }
}

@media #{$large-up} {
  html {
    font-size: 19px;
  }
}

@media #{$xlarge-up} {
  html {
    font-size: 20px;
  }
}

@media #{$xxlarge-up} {
  html {
    font-size: 26px;
  }
}

body {
  background-image: url(../images/herozoom.jpg);
  background-size: cover;
}

.home--slogan {
  display: block;
  position: fixed;
  top: 0;
  left: .5rem;
  font-size: 3rem;
  font-family: 'futura-pt';
  font-weight: 300;
  color: #7C918F;
  @media #{$medium-up} {
    //color: white;
  }
}

.home--title {
  font-family: 'cubano-sharp';
  font-style: italic;
  font-size: 10rem;
  line-height: 10rem;
  display: block;
  position: fixed;
  right: 4rem;
  bottom: 2rem;
  color: #c41c87;
  opacity: 0.9;
  //max-width: 100vw;
  span {
    color: #0081a1;
  }
  @media #{$medium-up} {
    bottom: .5rem;
    right: 1rem;
  }
  @media #{$large-up} {
    bottom: .5rem;
    right: 2rem;
  }
}

.home--angle {
  height: 10rem;
  @media #{$medium-up} {
    height: 100vh;
  }
}

.home--coming-soon {
  background-color: #c41c87;
  width: 100vw;
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20px;
}

.home--coming-soon-content {
  color: white;
  text-align: right;
  font-size: 13px;
  font-family: 'futura-pt';
  padding-right: 4rem;
  @media #{$medium-up} {
    bottom: .5rem;
    padding-right: 2rem;
  }
  @media #{$large-up} {
    bottom: .5rem;
    padding-right: 3rem;
  }

}
