<h1 class="home--title">COLE<span>K</span>TIVO</h1>

= image_tag 'angle.svg', :class => "home--angle"

%p.home--slogan
  BERLIN MEETS BUENOS AIRES

%p.home--slogan-back
  BERLIN MEETS BUENOS AIRES


.home--coming-soon
  %p.home--coming-soon-content
    LLEGA PRONTO ∙ COMING SOON ∙ ES KOMMT BALD
